body {
    background-image: url("riddler.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}